/**
 * CSS to Filter module to subject WAP 2019
 * 
 * @author  Tomáš Blažek (xblaze31)
 */

body {
  background-color: rgb(230, 255, 255);
}

.tutorial li{
    margin: 20px 0px 0px 0px;
}

.title-1 {
  color: black;
  text-align: center;
}

.center {
	margin: auto;
	width: 85%;
	padding: 10px;
}

.filter .item {
	float: left;
	margin: 20px;
  padding: 25px;
	font-size: 20px;
	font-family: verdana;
  background-color: rgb(51, 255, 255);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.filter ul {
  list-style-type: none
}

.filter .item p {
  font-size: 16px;
  text-align: left;
}

.filter .item .italic {
  font-style: italic;
  font-size: 15px;
}

.filter .item .description {
  font-weight: bold;
  font-size: 16px;
  margin: auto;
}

.filter form{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.filter form input{
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.filter form select{
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.filter form label {
  margin: 5px 10px 5px 0;
}